python==3.8.18
numpy==1.24.3
pandas==2.0.3
nibabel==5.2.1
nilearn==0.10.4
mne==1.6.1
torch==2.4.1
tensorboard==2.17.1
tensorboardx==2.6.2.2
shap==0.44.1
umap-learn==0.5.7
plotly==6.1.2
matplotlib==3.7.2